@{
    ViewData["Title"] = "InfoSecPol";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
<div class="container">
    <h3>
        BİLGİ GÜVENLİĞİ POLİTİKASI
    </h3>
    <p>
        iAkademi, kurum misyonu ve vizyonu doğrultusunda, TS ISO/IEC 27001 Bilgi Güvenliği Yönetim Sistemi (BGYS) standardı çerçevesinde, bilginin gizliliğini, bütünlüğünü ve erişilebilirliğini sağlamak amacı ile aşağıdaki hususları taahhüt eder;

        Bilgi güvenliği hedeflerini ve faaliyetlerini belirleyerek BGYS‘yi planlar, uygular, kontrol eder ve sistemin sürekli olarak iyileştirilmesini sağlar;

    </p>
    
        <li>
            Kişisel Verilerin Korunması Kanunu (KVKK) gereksinimlerini nasıl karşıladığını tanımlar;
        </li>
        <li>
            Bünyesinde kurulu olan diğer yönetim sistemleri ile beraber BGYS çalışmalarını bütünleşik olarak yürütür;
        </li>
        <li>
            BGYS kapsamı çerçevesinde görev, rol ve sorumluluklar ile gerekli kaynakları belirler;
        </li>
        <li>
            Gizlilik, bütünlük, erişilebilirlik kriterlerini belirleyerek bilgi varlıklarının envanterini çıkarır;
        </li>
        <li>
            Bilgi güvenliğini yönetmek için mevcut ve potansiyel riskleri tanımlar, değerlendirir ve uygun risk işleme seçeneklerini devreye alır;
        </li>
        <li>
            İş sürekliliği planlamaları yapar, bu planları uygular ve sürecin sürekli iyileştirilmesini sağlar;
        </li>
        <li>
            Bilgi güvenliği konusundaki güncel teknolojileri ve yenilikleri takip ederek, çözümler geliştirir;
        </li>
        <li>
            Tüm paydaşların bilgi güvenliği ile ilgili belirlenen hususlara uyması için gerekli önlemleri alır;
        </li>
        <li>
            Bu politikanın duyurulmasını, erişilebilir olmasını, farkındalığının oluşmasını ve uygulanmasını sağlar;
        </li>
        <li>
            Bu politikanın ihlali durumunda ilgili süreçleri başlatır ve takip eder.
        </li>
    
</div>
